/*---liens---*/

#insta {
  box-shadow: inset 0 0 0 0 #fd8518;
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#insta:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #fe2059;
}

#tiktok {
  box-shadow: inset 0 0 0 0 #f12f4a;//54b3d6
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#tiktok:hover {
  color: #000000    ;
  box-shadow: inset 200px 0 0 0 #22e5e6;
}

/*----couleurs----*/

#orange{
  box-shadow: inset 0 0 0 0 #dd7349;
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#orange:hover{
  color: #fff;
  box-shadow: inset 800px 0 0 0 #dd7349;
}

#violet{
  box-shadow: inset 0 0 0 0 #5b3a71;
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#violet:hover{
  color: #fff;
  box-shadow: inset 800px 0 0 0 #5b3a71;
}

#blanc{
  box-shadow: inset 0 0 0 0 #fff;
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#blanc:hover{
  color: #000;
  box-shadow: inset 800px 0 0 0 #fff;
}

#noir{
  box-shadow: inset 0 0 0 0 #2e2c2d;
  color: #fff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#noir:hover{
  color: #fff;
  box-shadow: inset 800px 0 0 0 #2e2c2d;
}