@font-face {
    font-family: 'Gill Sans';
    src: url('medias/font/GillSans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('medias/font/GillSansBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body{
    margin: 0;
    color: white;
    background-color: rgb(32, 32, 34);
    font-family: 'Gill Sans', sans-serif;;
}

header{
    background-color: rgb(40, 42, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
}

header li{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    border: solid;
    text-align: center;
}

header li ul{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo img{
    width: 150px;
    height: 150px;
}

#menu{
    width: 150px;
}

#menu_close{
    z-index: 9999;
    cursor: pointer;
    width: 80px;
    padding-left: 220px;
    position: fixed;
    transform: translateX(-100%);
    left: 99%;
    top: 20px;
}

.nav_bar{
    list-style-type: none;
    position: fixed;
    width: 65vw;
    margin-top: 0;
    height: 100vh;
    top: 0;
    padding-top: 6rem;
    right: 0;
    z-index: 9998;
    font-size: 2rem;
    line-height: 2;
    padding-left: 2rem;
    background-color: white;
    opacity: 0;
    width: 65w;
    max-width: 0;/* used for animating */
    transition: all 0.5s ease-in;
}

.nav_bar a{
    color : black;
}

.nav_bar a:hover{
    color: white;
}

.visible{
  opacity: 1;
  max-width: 350px;
}

.hidden {
  display: none;
}

main{
    padding-left: 50px;
    padding-right: 50px;
}

.banner{
    width: 100%;
}

h1{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 11em;
}

h2{
    font-size: 7em;
    margin: 0;
}

h3{
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.contact{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 41%;
    margin-right: 41%;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    height: 50px;
}

.contact img{
    margin-right: 5px;
}

.contact-tel{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    height: 50px;
}

.contact-tel img{
    margin-right: 5px;
}

p{
    text-align: center;
    font-size: 2em;
}

.mZero{
    margin: 0;
}

#boutiqueTitle{
    margin: 0;
}

#dispo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-style: italic;
}

#boutique{
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-gap: 100px;
}

#boutique img{
    width: 100%;
}

.pull{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer{
    background-color: rgb(32, 32, 34);
    margin-top: 25px;
}

footer p{
    font-size: 1em;
    text-align: center;
}

.contact-logo{
    width: 50px;
}

@media screen and (max-width: 1250px){
    .contact{
        margin-left: 37%;
        margin-right: 37%;
    }
}

@media screen and (max-width: 875px){
    .contact{
        margin-left: 31%;
        margin-right: 31%;
    }
}

@media screen and (max-width: 650px){
    .contact{
        margin-left: 22%;
        margin-right: 22%;
    }
}

@media screen and (max-width: 475px){
    .contact{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media screen and (max-width: 425px){
    .contact{
        margin-left: 8%;
        margin-right: 8%;
    }
}