@font-face {
    font-family: 'Gill Sans';
    src: url('medias/font/GillSans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('medias/font/GillSansBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body{
    margin: 0;
    color: white;
    background-color: rgb(32, 32, 34);
    font-family: 'Gill Sans', sans-serif;;
}

header{
    background-color: rgb(40, 42, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
}

header li{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    border: solid;
    text-align: center;
}

header li ul{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
  box-shadow: inset 0 0 0 0 #fff;
  color: #fff;
  font-size: 1.2em;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

a:hover{
  color: #000000;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}

#logo{
    width: 150px;
    height: 150px;
}

main{
    padding-left: 50px;
    padding-right: 50px;
}

#banner{
    width: 100%;
}

h1{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 11em;
}

h2{
    font-size: 7em;
    margin: 0;
}

h3{
    font-size: 5em;
    margin: 0;
}

p{
    font-size: 2em;
}

#boutiqueTitle{
    margin: 0;
}

#dispo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-style: italic;
}

#boutique{
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-gap: 100px;
}

#boutique img{
    width: 100%;
}

.pull{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    background-color: rgb(32, 32, 34);
    margin-top: 25px;
    border-top: solid;
}

footer p{
    font-size: 1em;
    text-align: center;
}